<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>A16.png</key>
		<dict>
			<key>frame</key>
			<string>{{394, 324}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 25}, {36, 32}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>A4.png</key>
		<dict>
			<key>frame</key>
			<string>{{582, 164}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47, 25}, {30, 32}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>A8.png</key>
		<dict>
			<key>frame</key>
			<string>{{296, 324}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 20}, {16, 56}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>B16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 324}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 42}, {56, 16}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>B2.png</key>
		<dict>
			<key>frame</key>
			<string>{{492, 324}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 20}, {34, 34}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>B8.png</key>
		<dict>
			<key>frame</key>
			<string>{{198, 324}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 42}, {34, 34}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>C16.png</key>
		<dict>
			<key>frame</key>
			<string>{{484, 164}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 42}, {36, 30}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>C2.png</key>
		<dict>
			<key>frame</key>
			<string>{{680, 164}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 20}, {16, 52}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>C4.png</key>
		<dict>
			<key>frame</key>
			<string>{{850, 2}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48, 42}, {30, 30}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>CH1.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 274}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>CH2.png</key>
		<dict>
			<key>frame</key>
			<string>{{546, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>CH3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>CH4.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>CH5.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 138}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>CH6.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>CH7.png</key>
		<dict>
			<key>frame</key>
			<string>{{716, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>CH8.png</key>
		<dict>
			<key>frame</key>
			<string>{{818, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>D2.png</key>
		<dict>
			<key>frame</key>
			<string>{{850, 100}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23, 20}, {34, 34}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>D4.png</key>
		<dict>
			<key>frame</key>
			<string>{{100, 324}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20, 42}, {58, 16}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>D8.png</key>
		<dict>
			<key>frame</key>
			<string>{{850, 198}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23, 42}, {34, 34}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>S1.png</key>
		<dict>
			<key>frame</key>
			<string>{{342, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S10.png</key>
		<dict>
			<key>frame</key>
			<string>{{954, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S100.png</key>
		<dict>
			<key>frame</key>
			<string>{{983, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S101.png</key>
		<dict>
			<key>frame</key>
			<string>{{308, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S102.png</key>
		<dict>
			<key>frame</key>
			<string>{{716, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S103.png</key>
		<dict>
			<key>frame</key>
			<string>{{206, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S104.png</key>
		<dict>
			<key>frame</key>
			<string>{{784, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S105.png</key>
		<dict>
			<key>frame</key>
			<string>{{784, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S106.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S107.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S108.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S109.png</key>
		<dict>
			<key>frame</key>
			<string>{{886, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S11.png</key>
		<dict>
			<key>frame</key>
			<string>{{677, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 18}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S110.png</key>
		<dict>
			<key>frame</key>
			<string>{{410, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S111.png</key>
		<dict>
			<key>frame</key>
			<string>{{274, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S112.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S113.png</key>
		<dict>
			<key>frame</key>
			<string>{{852, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S114.png</key>
		<dict>
			<key>frame</key>
			<string>{{614, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S115.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S116.png</key>
		<dict>
			<key>frame</key>
			<string>{{711, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S117.png</key>
		<dict>
			<key>frame</key>
			<string>{{614, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S118.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S119.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 206}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S12.png</key>
		<dict>
			<key>frame</key>
			<string>{{342, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 0}, {14, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S120.png</key>
		<dict>
			<key>frame</key>
			<string>{{172, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S121.png</key>
		<dict>
			<key>frame</key>
			<string>{{376, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S122.png</key>
		<dict>
			<key>frame</key>
			<string>{{342, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S123.png</key>
		<dict>
			<key>frame</key>
			<string>{{745, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S124.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S125.png</key>
		<dict>
			<key>frame</key>
			<string>{{813, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S126.png</key>
		<dict>
			<key>frame</key>
			<string>{{580, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S13.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S14.png</key>
		<dict>
			<key>frame</key>
			<string>{{308, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S15.png</key>
		<dict>
			<key>frame</key>
			<string>{{648, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S16.png</key>
		<dict>
			<key>frame</key>
			<string>{{172, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 18}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S17.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 233}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S18.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 422}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S19.png</key>
		<dict>
			<key>frame</key>
			<string>{{970, 324}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S2.png</key>
		<dict>
			<key>frame</key>
			<string>{{274, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S20.png</key>
		<dict>
			<key>frame</key>
			<string>{{534, 422}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S21.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 122}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S21_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{662, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S21_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{638, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S21_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{590, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S21_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{614, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S21_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S21_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{734, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S21_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{710, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S21_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{686, 398}, {22, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 22}}</string>
			<key>sourceSize</key>
			<string>{22, 22}</string>
		</dict>
		<key>S22.png</key>
		<dict>
			<key>frame</key>
			<string>{{933, 361}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S23.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 196}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S24.png</key>
		<dict>
			<key>frame</key>
			<string>{{423, 422}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S25.png</key>
		<dict>
			<key>frame</key>
			<string>{{933, 324}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S26.png</key>
		<dict>
			<key>frame</key>
			<string>{{460, 422}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S27.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 159}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S28.png</key>
		<dict>
			<key>frame</key>
			<string>{{386, 422}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S29.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 85}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S3.png</key>
		<dict>
			<key>frame</key>
			<string>{{818, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S30.png</key>
		<dict>
			<key>frame</key>
			<string>{{497, 422}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S31.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 0}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S32.png</key>
		<dict>
			<key>frame</key>
			<string>{{779, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 18}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S33.png</key>
		<dict>
			<key>frame</key>
			<string>{{580, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 18}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S34.png</key>
		<dict>
			<key>frame</key>
			<string>{{546, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S35.png</key>
		<dict>
			<key>frame</key>
			<string>{{970, 361}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S36.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 270}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>S37.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 2}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>S38.png</key>
		<dict>
			<key>frame</key>
			<string>{{778, 164}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>S39.png</key>
		<dict>
			<key>frame</key>
			<string>{{782, 262}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>S4.png</key>
		<dict>
			<key>frame</key>
			<string>{{682, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 0}, {14, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S40.png</key>
		<dict>
			<key>frame</key>
			<string>{{778, 206}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>S41.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 18}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S42.png</key>
		<dict>
			<key>frame</key>
			<string>{{614, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S43.png</key>
		<dict>
			<key>frame</key>
			<string>{{36, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 0}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S44.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 18}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S45.png</key>
		<dict>
			<key>frame</key>
			<string>{{682, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 18}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S46.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S47.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S48.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 36}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S49.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 18}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S5.png</key>
		<dict>
			<key>frame</key>
			<string>{{750, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 18}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S50.png</key>
		<dict>
			<key>frame</key>
			<string>{{206, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S51.png</key>
		<dict>
			<key>frame</key>
			<string>{{172, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S52.png</key>
		<dict>
			<key>frame</key>
			<string>{{886, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S53.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S54.png</key>
		<dict>
			<key>frame</key>
			<string>{{988, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S55.png</key>
		<dict>
			<key>frame</key>
			<string>{{546, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S56.png</key>
		<dict>
			<key>frame</key>
			<string>{{750, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S57.png</key>
		<dict>
			<key>frame</key>
			<string>{{716, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S58.png</key>
		<dict>
			<key>frame</key>
			<string>{{954, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S59.png</key>
		<dict>
			<key>frame</key>
			<string>{{36, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S6.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S60.png</key>
		<dict>
			<key>frame</key>
			<string>{{915, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S61.png</key>
		<dict>
			<key>frame</key>
			<string>{{308, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S62.png</key>
		<dict>
			<key>frame</key>
			<string>{{881, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S63.png</key>
		<dict>
			<key>frame</key>
			<string>{{920, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S64.png</key>
		<dict>
			<key>frame</key>
			<string>{{852, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S65.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 8}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S66.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 70}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S67.png</key>
		<dict>
			<key>frame</key>
			<string>{{36, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S68.png</key>
		<dict>
			<key>frame</key>
			<string>{{206, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S69.png</key>
		<dict>
			<key>frame</key>
			<string>{{648, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S7.png</key>
		<dict>
			<key>frame</key>
			<string>{{376, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S70.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S71.png</key>
		<dict>
			<key>frame</key>
			<string>{{682, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {32, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S72.png</key>
		<dict>
			<key>frame</key>
			<string>{{920, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S73.png</key>
		<dict>
			<key>frame</key>
			<string>{{648, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 8}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S74.png</key>
		<dict>
			<key>frame</key>
			<string>{{750, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S75.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S76.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 104}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S77.png</key>
		<dict>
			<key>frame</key>
			<string>{{949, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 8}, {20, 14}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S78.png</key>
		<dict>
			<key>frame</key>
			<string>{{784, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 0}, {10, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S79.png</key>
		<dict>
			<key>frame</key>
			<string>{{410, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 11}, {32, 10}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S8.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 2}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S80.png</key>
		<dict>
			<key>frame</key>
			<string>{{847, 422}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S81.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 172}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S82.png</key>
		<dict>
			<key>frame</key>
			<string>{{410, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S83.png</key>
		<dict>
			<key>frame</key>
			<string>{{988, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {32, 28}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S84.png</key>
		<dict>
			<key>frame</key>
			<string>{{580, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S85.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 28}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S86.png</key>
		<dict>
			<key>frame</key>
			<string>{{274, 520}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {32, 30}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S87.png</key>
		<dict>
			<key>frame</key>
			<string>{{376, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {30, 28}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S9.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 486}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 0}, {14, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S98.png</key>
		<dict>
			<key>frame</key>
			<string>{{138, 554}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {30, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>S99.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 240}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {28, 30}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>back.png</key>
		<dict>
			<key>frame</key>
			<string>{{948, 44}, {39, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {39, 39}}</string>
			<key>sourceSize</key>
			<string>{39, 39}</string>
		</dict>
		<key>back2.png</key>
		<dict>
			<key>frame</key>
			<string>{{615, 262}, {49, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 46}}</string>
			<key>sourceSize</key>
			<string>{49, 46}</string>
		</dict>
		<key>end.png</key>
		<dict>
			<key>frame</key>
			<string>{{484, 2}, {364, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {364, 160}}</string>
			<key>sourceSize</key>
			<string>{364, 160}</string>
		</dict>
		<key>help.png</key>
		<dict>
			<key>frame</key>
			<string>{{666, 262}, {114, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 44}}</string>
			<key>sourceSize</key>
			<string>{114, 44}</string>
		</dict>
		<key>like_game.png</key>
		<dict>
			<key>frame</key>
			<string>{{590, 324}, {341, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {341, 72}}</string>
			<key>sourceSize</key>
			<string>{341, 72}</string>
		</dict>
		<key>lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{782, 398}, {18, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 22}}</string>
			<key>sourceSize</key>
			<string>{18, 22}</string>
		</dict>
		<key>map.png</key>
		<dict>
			<key>frame</key>
			<string>{{550, 262}, {63, 55}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {63, 55}}</string>
			<key>sourceSize</key>
			<string>{63, 55}</string>
		</dict>
		<key>map_locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{484, 262}, {64, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 56}}</string>
			<key>sourceSize</key>
			<string>{64, 56}</string>
		</dict>
		<key>more_games.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 422}, {239, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {239, 35}}</string>
			<key>sourceSize</key>
			<string>{239, 35}</string>
		</dict>
		<key>pedos.png</key>
		<dict>
			<key>frame</key>
			<string>{{824, 262}, {19, 29}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 29}}</string>
			<key>sourceSize</key>
			<string>{19, 29}</string>
		</dict>
		<key>play.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 422}, {141, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {141, 56}}</string>
			<key>sourceSize</key>
			<string>{141, 62}</string>
		</dict>
		<key>play_logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{608, 422}, {33, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 32}}</string>
			<key>sourceSize</key>
			<string>{33, 32}</string>
		</dict>
		<key>sand.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {480, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>sourceSize</key>
			<string>{480, 320}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
